<div class="container-fluid" id="footer">
	<div class="container">
		<div class="col-md-6 col-sm-12" id="footer-text">
			<p>anchors: (default []) Defines the anchor links (#example) to be shown on the URL for each section. The position of the anchors in the array will define to which sections the anchor is applied. (second position for second section and so on). Using anchors forward and backward navigation will also be possible through the browser.</p>
			<br>
			<div id="social-wrapper">
				<span id="facebook-wrapper">
					<a href="https://facebook.com" target="_blank" id="facebook"><img src="{{STATIC_URL}}competitors/img/Facebook.png" alt="facebook" width="40" height="40"></a>
				</span>
				<span id="twitter-wrapper">
					<a href="https://twitter.com" target="_blank" id="facebook"><img src="{{STATIC_URL}}competitors/img/Twitter.png" alt="twitter" width="40" height="40"></a>
				</span>
				<span id="rss-wrapper">
					<a href="https://rss.com" target="_blank" id="rss"><img src="{{STATIC_URL}}competitors/img/Rss.png" alt="facebook" width="40" height="40"></a>
				</span>
			</div>
			<br>
			<p>Competitors &#169; Copyright</p>
		</div>
	</div>
</div>
