/*For the container of navbar*/
#navbar-container{
	position: absolute;
	top: 1em;
	left: 0;
	height: 70px;
/*	z-index: 70;*/
	width: 100%;
	padding: 0;
	margin: 0;
	background: rgba(192,192,192, 0.3);
}

#navbar-container li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background: rgba(255,255,255, 0.1);
	-webkit-border-radius: 10px;
          border-radius: 10px;
}

#navbar-container li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}

#navbar-container li a{
  color: #000;
	text-decoration:none;
}

#navbar-container li.active a:hover{
	color: #000;
}

#navbar-container li:hover{
	background: rgba(255,255,255, 0.8);
}

#navbar-container li a,
#navbar-container li.active a{
	padding: 9px 18px;
	display:block;
}

#navbar-container li.active a{
	color: #fff;
}

/*For the competetitor logo*/
#logo-wrapper {
	height: 100%;
  padding-top: 0;
}

#logo-wrapper .helper{
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#logo-wrapper img{
	height: 30px;
  vertical-align: middle;
}


.cp-header-searchbar{
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.cp-header-container{
  display: table;
  height: 100%;
  padding-top: 18px;
}

.cp-header-wrapper{
    display: table-cell;
    vertical-align: middle;
}

.cp-header-content{
    display: inline-block;
    vertical-align: middle;
}

/*For the sign in and sign up button*/
#sign {
	float: right;
	margin: 1% 5% 1%;
	line-height: 49px;
}

#sign .btn{
	/*line-height: 70px;*/
}

#footer {
	font-weight: bold;
  background: #494949;
	color: white;
}

#footer-text {
	padding-top: 2em;
}


#facebool-wrapper, #twitter-wrapper, #rss-wrapper {
	margin-left: 1em;
}

.cp-sign-right {
  float: right!important;
  vertical-align: middle;
}

/*For the navbar collapse*/
@media (max-width: 767px) {
  .cp-regular-navbar {
    display: none;
  }
}

@media (min-width: 768px) {
  .cp-smaller-navbar {
    display: none;
  }
}

@media (max-width: 767px) {
  .cp-smaller-navbar {
  	width: 100%;
    position: absolute;
    top: 0;
    background: rgba(192,192,192, 0.3);
  }
}

.cp-navbar-a {
  	color: orange;
}

.cp-navbar-button {
  	color: orange;
}

.cp-navbar-brand {
	  float: left;
		height: 100%;
  	padding: 20px 15px 0 16px;
  	font-size: 18px;
  	line-height: 20px;
}
