body{
	background-color: #A9A9A9 !important;
}
@media screen and (min-width: 1024px){

}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}

#menu{
	background: #FF8C00 !important;
}

#header {
	position: absolute;
	top: 0;
	height: 280px;
	width: 100%;
	background: #FFDAB9;
	z-index: -1;
}

.checkbox {
	padding-left: 1em;
}

#form-head {
	font-weight: bold;
	padding-left: 1em;
	padding-bottom: 2em;
}

input[type="text"],input[type="password"]{
	z-index: 99;
	background-repeat: no-repeat;
	background-position: right;
	background-size: 25px 80%;
}

.error{
	color: #a94442;
	font-size:14px;
	line-height: 34px;
}

.form-group {
	padding: 2em 2em;
}

.form-group a, .form-group a:hover {
	text-decoration: none;
	color: #FF8C00;
}

#body {
	margin-top: 150px;
}

#form-wrapper {
	z-index: 20;
	background: rgba(255, 255, 255, 0.8);
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-radius: 1em;
	box-shadow: 5px 5px 5px #888888;
	padding: 10% 20% 10% 10%;
	margin-bottom: 10%;
}