body{
	background-color: #A9A9A9 !important;
}
@media screen and (min-width: 1024px){

}
#menu{
	background: #FF8C00 !important;
}

#header {
	position: absolute;
	top: 0;
	height: 280px;
	width: 100%;
	background: #FFDAB9;
	z-index: -1;
}

.radio {
	padding-left: 1em;
}

#form-head {
	font-weight: bold;
	padding-left: 1em;
	padding-bottom: 2em;
}

.form-group {
	padding: 2em 2em;
}

.form-group a, .form-group a:hover {
	text-decoration: none;
	color: #FF8C00;
}

#body {
	margin-top: 150px;
}

#form-wrapper {
	z-index: 20;
	background: rgba(255, 255, 255, 0.8);
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-radius: 1em;
	box-shadow: 5px 5px 5px #888888;
	padding: 10% 20% 10% 10%;
	margin-bottom: 10%;
}