#panel>div{
	display: none;
}
#logo{
	width: 200px;
}
#logo *{
	text-align: center;
}

#icon_img{
	width: 200px;
	height: 200px;
}

#logo>a{
	display: block;
	margin: 0 auto;
}

#logo button{
	width: 150px; 	
	margin: 0 auto;
}

/*.ui-tabs-nav>*{
	width: 32%;
}*/

/*.ul-tabs-nav li{
	padding: 0;
}

.ui-tabs-nav a{
	padding-left: 0;

	text-align: center;
		
}*/
body {
	background-color: #A9A9A9 !important;
}


.radio {
	padding-left: 1em;
}

#row1 {
	margin-top: 150px;
	margin-bottom: 10px;
	padding: 20px 10px;
}

#row2, #pagination {
	margin: 10px auto;
	padding: 0;
}

#news1, #news2 {
	height: 250px;
	margin: 10px auto;
}

.cp-box {
	background-color: rgba(255,255,255,0.7);
}

.cp-schedule-box {
	height: 250px;
}

#schedules {
	padding: 0;
}

#shcedule1 {
	padding-right: 10px;
}

#schedule2 {
	padding-left: 10px;
}

.tab-pane {
	height: 600px;
	background: white;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10% 20%;
}


#img-wrapper {
	margin: 0px 10px;
	border: 5px solid white;
	box-shadow: 5px 5px 5px #888888;
	height: 300px;
	width: 300px;
	background-image: url('../media/JohnTerry.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}