<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}competitors/bootstrap-3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}competitors/bootstrap-3.3.4/css/bootstrap.css">
         <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}competitors/css/change_password.css">
        <title>Register</title>
    </head>

    <body>
        <div id="container">
            <div id="navbar">
                <div id="title">
                    <a href="{% url 'home' %}"><h1 id="home">Welcome to Competitors</h1></a>
                    <a href="login" id="login">Already Have an Account</a>
                </div>
            </div>
        
             <div id="main">
            <h1>
                Change Password
            </h1>
            {% if errors %}
                <h2>{{errors}}</h2>
            {% endif %}
            <div id="change_pwd_form">
                <form method="POST" action = "{% url 'change_password' %}">
                    <h3>Please input your email address</h3>
                    <!-- input type="email" name="email" placeholder="boo@competitors.com"/> -->
                    <input type="text" class="input-lg" name="email" placeholder="boo@foo.com"/>
                    <input type="submit" class="btn btn-danger btn-lg" value="submit"/>
                    {% csrf_token %}
                </form>

            </div>

        </div>
    </div>

    </body>
</html>

