<!DOCTYPE html>
<html lang="en" ng-app="competitorsApp">
<head>
    <title>Sign Up for Competitors</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}competitors/css/register.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}competitors/css/header.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}competitors/css/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="{{STATIC_URL}}competitors/js/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="{{STATIC_URL}}competitors/js/app.js"></script>   
    

</head>
<body ng-controller="MainCtl">
    <div id="header">
        {% include 'competitors/navbar.html' %}
    </div>
    <h1>
        //message//
    </h1>
    <div id="body">
        <div class="container" id="form-wrapper">
            <h2 class="col-sm-offset-2" id="form-head"> Welcome! </h2>
            <form action="{% url 'register' %}" name="signup-form" class="form-horizontal">
                {% for field in form %}
                <div class="form-group">
                    <label for="inputFirstname" class="col-sm-2 control-label">{{field.label}}</label>
                    <div class="col-sm-6">
                      {{field}}
                    </div>
                </div>
                {% endfor %}
            <div class="form-group">
                <div class="radio col-sm-offset-2">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios" value="agree">
                        I have read and agree with the <a href="javascript:;">Agreement</a>
                    </label>
                </div>
            </div>
            <div id="form-action">
                <div class="col-sm-2"></div>
                <button type="submit" class="btn btn-warning">Register</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
{% include 'competitors/footer.html' %}
<script src="{{STATIC_URL}}competitors/js/register.js"></script>
<script>
    competitorsApp.controller('MainCtl',['$scope','$http',function($scope,$http){
            console.log("123123");
            $scope.message = "SUCCESS";
          
            var validation = function(offset, size, callback){
                var username = $('input[name=username]').val();
                var email = $('input[name=email]').val();
           // var token = $("input[name=csrfmiddlewaretoken]").val();
             
                $http({
                    method: 'POST',
                    url: "api/valid",
                    data: $.param({'username':username,'email':email}),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                })
                .success(function(data, status, headers, config){
                    console.log(data);
                    if (!data){
                        $('input[name=username]').css("background-image","url(\"/static/competitors/img/tick.jpg\")");
                        $('input[name=username]').parent().parent().children(".error").remove();
                    }else{
                         $('input[name=username]').css("background-image","url(\"/static/competitors/img/info.jpg\")");
                         $scope.usernameError = data;
                         $('input[name=username]').parent().parent().append("<div class=\"col-sm-4 error\">"+data+"</div>")

                    }
                })
            }
            var typingTimer;
            $('input[name=username]').keyup(function() { 
                clearTimeout(typingTimer);
                if ($('input[name=username]').val()){
                    typingTimer = setTimeout(validation,2000);
                } // get the current value of the input field.
            });
            function doneTyping(){
                alert($('input[name=username]').val());
            }
            //validation();
        }
        
    ]);
    console.log("123123asdasd");
    
</script>




<!-- <!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}competitors/bootstrap-3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}competitors/bootstrap-3.3.4/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}competitors/css/register.css">
        <title>Register</title>
    </head>

    <body>
        <div id="container">
        
            <div id="navbar">
                <div id="title">
                    <a href="{% url 'home' %}"><h1 id="home">Welcome to Competitors</h1></a>
                    <a href="login" id="login">Already Have an Account</a>
                </div>
            </div>
            <div id="main">
            
                {% for error in errors %}
                    <h4 style="color: red">
                        {{ error }}
                    </h4>
                {% endfor %}
                <div id="registerform">
                    <form class="form-group" role="form" method="post" action="{% url 'register' %}">
                        
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="form-group error">
                                    <label class="control-label">{{ field.label }}</label> 
                                    <div class="controls">{{ field }}
                                        <span class="help-inline">
                                            {% for error in  field.errors %}{{ error }}{% endfor %}
                                        </span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                <label class="control-label">{{ field.label }}</label> 
                                    <div class="controls">{{ field }}
                                        {% if field.help_text %}
                                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <input type="checkbox" required> <span>I have read and agree with </span><a href="#">Agreement</a>
                        {% csrf_token %}
                        
                                <button type="submit" class="btn btn-success">Register</button>
                                
                            
                        
                    </form>
                    

                </div>


        </div>
    </div>

    </body>
</html>

 -->