<!DOCTYPE html>
<html lang="en" ng-app="competitorsApp">
<head>
    <title>Sign Up for Competitors</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}competitors/css/register.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}competitors/css/base.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body ng-controller="register">
    <div id="header">
        {% include 'competitors/navbar.html' %}
    </div>
    <input ng-model="value" ng-init="value=4"/>
    <div id="body" class="row cp-container">
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10" id="form-wrapper">
            <h2 class="col-sm-offset-2" id="form-head"> Welcome! </h2>
            <form action="{% url 'register' %}" name="signupform" ng-model="register" ng-init="register=[]" class="form-horizontal" method="POST">
                {% for field in form %}
                <div class="row signupfield form-group has-feedback" ng-class="{'has-error':register.{{field.name}}.init && register.{{field.name}}.has_error,'has-success':register.{{field.name}}.init &&  !register.{{field.name}}.has_error}">
                    <label class="col-sm-2 control-label">{{field.label}}</label>
                    <div class="col-sm-6">
                        {{field}}

                        <div ng-model="register.{{field.name}}" ng-init="register.{{field.name}} = []"></div>
                        <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok-sign':register.{{field.name}}.init &&  !register.{{field.name}}.has_error,'glyphicon-remove-sign':register.{{field.name}}.init && register.{{field.name}}.has_error}" aria-hidden="true"></span>
                    </div>
                     <div class="col-sm-4 error" ng-show="register.{{field.name}}.init && register.{{field.name}}.has_error">
                        //register.{{field.name}}.error//
                     </div>
                </div>
                {% endfor %}
                <div class="form-group">
                    <div class="agreement col-sm-offset-2">
                        <label>
                            <input ng-model="register.agreement" required name="agreement" type="checkbox"/>
                            I have read and agree with the <a href="" data-toggle="modal" data-target="#agreementbox">Agreement</a>
                        </label>
                    </div>
                </div>
                <div id="form-action">
                    <div class="col-sm-2"></div>
                    <button type="submit" ng-disabled="signupform.$invalid" class="btn btn-warning">Register</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <modal-dialog></model-dialog>
{% include 'competitors/footer.html' %}

<script src="{{STATIC_URL}}competitors/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="{{STATIC_URL}}competitors/js/app.js"></script>
<script src="{{STATIC_URL}}competitors/js/register.js"></script>
<script src="{{STATIC_URL}}competitors/js/controllers/login.js"></script>
<script src="{{STATIC_URL}}competitors/js/directives/agreement.js"></script>
<script src="{{STATIC_URL}}competitors/js/directives/checkUsername.js"></script>
<script src="{{STATIC_URL}}competitors/js/directives/checkEmail.js"></script>
<script src="{{STATIC_URL}}competitors/js/directives/pwMatch.js"></script>

<script>
    competitorsApp.controller('register',['$scope','$http','$timeout',function($scope,$http,$timeout){
        $scope.register_agreement = false;
        var list = ["first_name","last_name","username","email","password2","password1"];

        $scope.$watch("register", function(){
            for (field in $scope.register){
                $scope.$watch('signupform.'+field+'.$viewValue',
                function(newVal){
                    var field = $(this)[0].exp.split('.')[1];
                    console.log(field);
                    $timeout.cancel($scope.register[field].timer);
                    $scope.register[field].timer = $timeout(function() {
                        var input = $scope.signupform[field];
                        console.log(newVal);
                        if (newVal){
                            $scope.register[field].init = true;
                            console.log(field + $scope.register[field].init);
                        }else if (newVal == undefined && $scope.register[field].init == undefined){
                            $scope.register[field].init = false;
                            console.log(field + $scope.register[field].init);
                        }else if ($scope.register[field].init == false){
                            $scope.register[field].init = true;
                            console.log(field + $scope.register[field].init);
                        }
                        $scope.register[field].has_error = input.$invalid;
                        if (input.$invalid && $scope.register[field].init){
                            if (input.$error.required){
                                $scope.register[field].error = "This field is required";
                            }else if (input.$error.pattern){
                                $scope.register[field].error = "Can only contain letters and/or numbers";
                            }else if (input.$error.minlength){
                                $scope.register[field].error = "At least " + $('form[name=signupform] input[name={{field.name}}]').attr('ng-minlength') + " letters";
                            }else if (input.$error.maxlength){
                                $scope.register[field].error = "At least " + $('form[name=signupform] input[name={{field.name}}]').attr('ng-maxlength') + " letters";
                            }else if (input.$error.email){
                                $scope.register[field].error = "Email format incorrect";
                            }else if (input.$error.usernameTaken){
                                $scope.register[field].error = "Username has been registered";
                            }else if (input.$error.emailTaken){
                                $scope.register[field].error = "Email has been registered";
                            }else if (input.$error.pwNotMatch){
                                $scope.register[field].error = "Not match/incorrect";
                            }
                        }
                    },1000);
                });

            }
        })           
    }])
</script>
