<!DOCTYPE html>
<html lang="en" ng-app="competitorsApp">
<head>
	<title>Competitors</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}competitors/css/jquery.fullPage.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}competitors/css/base.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="{{STATIC_URL}}competitors/bootstrap-3.3.4/css/bootstrap.min.css"> -->
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}competitors/css/index.css">
</head>

<body ng-controller="index">
	<input type="hidden" name="redirect" value="{% firstof request.path '/' %}">
	<div id="fullpage">
	<!-- New Nav area -->
		<div class="section" id="first-section" data-anchor="firstPage">
			{% include 'competitors/navbar.html' %}
			<div class="col-md-offset-3 col-sm-offset-1 col-md-6 col-sm-10 col-xs-12 " id="search_bar">
				<form role="search" method="POST" action="{% url 'search' %}">
		    		<div class="input-group input-group-lg">
		        		<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
			    		<input type="text" class="form-control" id="search" name="search" required placeholder="Search Your Favourite...">
			    		<span class="input-group-btn">
			    			<button type="submit" class="btn btn-warning" type="button">Find!</button>
			    		</span>
			    	{% csrf_token %}
					</div>
	    		</form>
			</div>
		</div>

		<div class="section" id="second-section" data-anchor="secondPage">
			<div class="container-fluid" id="live-wrapper">
				<div>
					<div class="col-md-4 col-sm-3 col-xs-2" id="live-text">
						LIVE
					</div>
					<div class="col-md-8 col-sm-9 col-xs-10" id="live-match">
						<a href="javascript:;">Washington Wizard vs Atlanta Hawks</a>
						<span id="live-score">90:106</span>
					</div>
				</div>
			</div>
			<div class="container"  id="player-team-wrapper">
				<div class="col-sm-12 col-md-6 col-xs-12 player-wrapper-border" id="player-wrapper">
					<h4 class="cp-col-xs-offset-1">Player<span class="cp-pull-right"><a href="javascript:;">More</a></span></h4>
					{% for player in players %}
						<div class="player-box player-left-column col-md-5 col-sm-5 self-col-xs-5" id="player1">
							<a href="{% url 'player_page' player.id %}">
								<div class="player-image" id="img1"><img src="{{player.icon_url}}"></div>
								<p>{{player.name}} <span class="pull-right"> {{player.followers.count}} </span></p>
							</a>
						</div>

					{% endfor %}
				</div>

				<div class="col-sm-10 col-md-6 col-xs-12" id="team-wrapper">
					<h4>Team<span class="pull-right"><a href="#">More</a></span></h4>
					{% for team in teams %}
					<div class="team-box">
						<div class="team-image" id="team1">
							<a href="{% url 'team_page' team.id %}">
								<img src="{{team.icon_url}}" alt="" width="80" height="80">
								<p class="pull-right">{{team.name}}</p>
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

			{% include 'competitors/footer.html' %}

		</div>
	</div>
</body>

<script src="{{STATIC_URL}}competitors/js/jquery.min.js"></script>
<script src="{{STATIC_URL}}competitors/js/jquery.easings.min.js"></script>
<!-- This following line is only necessary in the case of using the plugin option `scrollOverflow:true` -->
<script type="text/javascript" src="{{STATIC_URL}}competitors/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}competitors/js/jquery.fullPage.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="{{STATIC_URL}}competitors/js/app.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}competitors/js/index.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}competitors/js/base.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}competitors/js/app.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}competitors/js/controllers/login.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}competitors/js/controllers/index.js"></script>
<script src="{{STATIC_URL}}competitors/js/directives/login_pop.js"></script>
<script type="text/javascript">

  $(document).ready(function() {
    $('#fullpage').fullpage({
      sectionsColor: ['#A9A9A9', '#A9A9A9'],
      anchors: ['firstPage', 'secondPage'],
      css3: false,
      scrollingSpeed: 600,
      scrollOverflow: true
    });
    // myvideo = $("video")[0];
    // myvideo.muted = true;
    // myvideo.play();

    $('#mute').click(function(e) {
      if (myvideo.muted === true) {
        myvideo.muted = false;
        $(this).text('Mute');
      }
      else {
        myvideo.muted = true;
        $(this).text('Unmute');
      }
    });
  });
</script>
</html>
