<nav class="cp-smaller-navbar navbar-static-top">
	 <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <a class="cp-navbar-brand" href="/" id="logo"><img src="{{STATIC_URL}}competitors/img/logo1.png" color="red" alt="logo" width="150" height="25"></a>
			    <button type="button" class="btn btn-lg navbar-toggle collapsed cp-navbar-button" data-toggle="collapse" data-target="#cp-navbar-collapse">
			          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			    </button>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="navbar-collapse collapse" id="cp-navbar-collapse" aria-expanded="false" style="height: 1px;">
		      <ul class="nav navbar-nav navbar-right">
		          {% if signuppage == True %}
		          <li><a class="cp-navbar-a" href="login" id="login"><small class="pull-right">Already have an account?</small></a></li>
		      {% else %}
		          {% if user.is_authenticated %}
		            <li><a class="cp-navbar-a" id="signnnnnnnnnnn" href="{% url 'django.contrib.auth.views.logout' %}?next={% firstof request.path %}">sign out</a></li>
		            <li><a class="cp-navbar-a" id="redirect" href="{% url 'see_profile' user.username %}">{{ user.username }}</a></li>
		        {% else %}
		            <li><a class="cp-navbar-a" data-toggle="modal" data-target="#loginbox"> Sign in </a></li>
		            <li><a class="cp-navbar-a" href="{% url 'register' %}"> Sign up</a></li>
		        {% endif %}
		      {% endif %}

		      </ul>

		    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
</nav>

<div class="container">
<nav class="navbar cp-regular-navbar" id="navbar-container" ng-controller="login">
	    <div class="navbar-header col-xs-3 col-sm-offset-1 col-sm-3 col-md-offset-1 cp-header-container" id="logo-wrapper">
	      	<a class="form cp-header-wrapper" href="/" id="logo">
	      		<img ng-href="/" src="{{STATIC_URL}}competitors/img/logo1.png" alt="logo">
	      	</a>
	    </div>
	    <div class="col-xs-4 col-sm-4 col-md-4 cp-header-container">
	    	{% if homepage != True %}
	    	<form class="form cp-header-wrapper">
				<div class="input-group">
	      			<input type="text" class="form-control" placeholder="Search Your Favourite...">
	      			<span class="input-group-btn">
	        			<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
	      			</span>
	      		</div>
	      	</form>

			{% endif %}
	    </div>
	    <div class="col-xs-3 col-sm-3 col-md-3 cp-header-container">

	    	<div class="cp-header-wrapper cp-sign-right">
	    	{% if signuppage == True %}
					<a href="login" id="login"><small class="pull-right">Already have an account?</small></a>
			{% else %}
		    	{% if user.is_authenticated %}
			    	<a id="signnnnnnnnnnn" href="{% url 'django.contrib.auth.views.logout' %}?next={% firstof request.path %}"><button class="btn btn-danger cp-header-content">sign out</button></a>
			    	<a id="redirect" href="{% url 'see_profile' user.username %}"><button class="btn btn-link btn-lg cp-header-content">{{ user.username }}</button></a>
				{% else %}

		    		<button type="button" class="btn btn-warning cp-header-content" data-toggle="modal" data-target="#loginbox"> Sign in </button>
						<a href="{% url 'register' %}"><button type="button" class="btn btn-default cp-header-content"> Sign up </button></a>
				{% endif %}
			{% endif %}
			</div>

	    </div>
</nav>
<login-pop ng-controller="login"></login-pop>
</div>
