{% extends "competitors/tpbase.html" %}
{% block tp %}
<div class="cp-box cp-box-flex" id="row1">
	<div class="col-sm-4 col-md-4" id="img-wrapper">
		<img style="width:100%;height:100%" src="{{player.icon_url}}">
	</div>
	<div class="col-sm-4 col-md-4 cp-pull-down">
		<h3>{{player.name}}</h3>
		{% if follow %}
			<button class="btn btn-warning"> {{follow.credits}} </button>
		{% else %}
			<a href="{% url 'follow' 'player' player.id %}"><button class="btn btn-warning"> Follow + </button></a>
		{% endif %}
		
	</div>
	<div class="col-sm-4 col-md-4 pull-right">
		<p>Team description Team descriptionTeam descriptionTeam descriptionTeam descriptionTeam descriptionTeam descriptionTeam descriptionTeam descriptionTeam descriptionTeam descriptionTeam descriptionTeam description</p>
	</div>
</div>
{% endblock %}