{% extends "competitors/base.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}competitors/css/profile.css">
<div id="body" style="height:1200px;" ng-controller="profile" ng-init="self='{{currentUser.user.username}}' == '{{user.username}}'">
    <div id="header">
    </div>
    {% for error in errors %}
    <h4 style="color: red">
        {{ error }}
    </h4>
    {% endfor %}
    <!-- Image Upload html starts/ Please replace them with <img-upload></img-upload>-->

    <img-upload></img-upload>
    <div class="col-md-5" id="left-wrapper">
        <div class="cp-img-wrapper">
            <img class="cp-img" src="{{currentUser.img_url}}" width="190px" ng-click="" data-toggle="modal" data-target="#imgbox"/>
        </div>
        <div class="text-center" id="left-text">
            <h4>{{currentUser.user.username}}</h4>
        </div>
        <div class="panel panel-default col-md-offset-2 col-md-8 cp-profile-nav">
            <div class="panel-body row ">
                <div class="col-md-4 cp-profile-nav-content">
                    <a href="#personal" ng-click="currentTab='personal';change($event);getUserProfile()">Personal</a>
                </div>
                <div class="col-md-4 cp-profile-nav-content">
                    <a href="#favorite#//currentFavoriteTab//" ng-click="currentTab='favorite';change($event);getFavorite()">Favorite</a>
                </div>
                <div class="col-md-4 cp-profile-nav-content">
                    <a href="#friends" ng-click="currentTab='friends';change($event)">Friends</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7" id="right-wrapper">
        <div class="" id="personal" ng-show="currentTab=='personal'">
            <ul class="nav nav-tabs" id="tabs">
                <li role="presentation" class="active"><a href="#personal-1"><span class="glyphicon glyphicon-user" aria-hidden="true"></a></li>
            </ul>
            <br/>
            <div class="tab-content">
                <div class="tab-pane cp-profile-pane active" id="tab-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Essential Info &nbsp;&nbsp;&nbsp;
                            <a ng-show="!editPrimary && self" href="javascript:;" ng-click="editPrimary=!editPrimary" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
                            <a ng-show="editPrimary && self" href="javascript:;" ng-click="editPrimary=!editPrimary" class="glyphicon glyphicon-floppy-save" aria-hidden="true"></a>
                        </div>
                        <div class="text-left panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label cp-profile-form-label">Username</label>
                                    <div class="col-sm-9">
                                        <p class="form-control-static" ng-show="!editPrimary">{{currentUser.user.username}}</p>
                                        <input ng-show="editPrimary" type="text" class="form-control input" value="{{currentUser.user.username}}" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label cp-profile-form-label">Firstname</label>
                                    <div class="col-sm-9">
                                        <p class="form-control-static" ng-show="!editPrimary">{{currentUser.user.first_name}}</p>
                                        <input type="text" ng-show="editPrimary" class="form-control" value="{{currentUser.user.first_name}}" id="inputPassword3" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label cp-profile-form-label">Lastname</label>
                                    <div class="col-sm-9">
                                        <p class="form-control-static" ng-show="!editPrimary">{{currentUser.user.last_name}}</p>
                                        <input type="text" ng-show="editPrimary" value="{{currentUser.user.last_name}}" class="form-control" id="inputPassword3" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label cp-profile-form-label">Birthday</label>
                                    <div class="col-sm-9">
                                        <p class="form-control-static" ng-show="!editPrimary">//birthday//</p>
                                        <input type="date" ng-show="editPrimary" value="{{userprofile.birthday}}" class="form-control" id="inputPassword3" placeholder="Password">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Contact Info &nbsp;&nbsp;&nbsp;
                            <a ng-show="!editSocial && self" href="javascript:;" ng-click="editSocial=!editSocial" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
                            <a ng-show="editSocial && self" href="javascript:;" ng-click="editSocial=!editSocial" class="glyphicon glyphicon-floppy-save" aria-hidden="true"></a>
                        </div>
                        <div class="panel-body text-left">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label cp-profile-form-label"><p><i class="fa fa-envelope-o fa-fw"></i> Email</p></label>
                                    <div class="col-sm-9">
                                        <p class="form-control-static">//social.email//</p>
                                        <!-- input ng-show="edit" type="email" class="form-control input" value="//social.email//" id="inputEmail3" placeholder="Email"> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label cp-profile-form-label"><p><i class="fa fa-facebook-official fa-fw"></i> Facebook</p></label>
                                    <div class="col-sm-9">
                                        <p class="form-control-static" ng-show="!editSocial">//social.facebook//</p>
                                        <input ng-show="editSocial" type="text" class="form-control input" value="//social.facebook//" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label cp-profile-form-label"><p><i class="fa fa-twitter fa-fw"></i> Twitter</p></label>
                                    <div class="col-sm-9">
                                        <p class="form-control-static" ng-show="!editSocial">//social.twitter//</p>
                                        <input ng-show="editSocial" type="text" class="form-control input" value="//social.twitter//" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label cp-profile-form-label"><p><i class="fa fa-instagram fa-fw"></i> Intsagram</p></label>
                                    <div class="col-sm-9">
                                        <p class="form-control-static" ng-show="!editSocial">//social.instagram//</p>
                                        <input ng-show="editSocial" type="text" class="form-control input" value="//social.instagram//" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-2">asd</div>
                <div class="tab-pane" id="tab-3">123</div>
            </div>
        </div>
        <div class="" id="favorite" ng-show="currentTab=='favorite'">
            <ul class="nav nav-tabs" id="tabs">
                <li role="presentation" ng-class="{'active':currentFavoriteTab=='teams'}"><a href="#favorite#teams" ng-click="currentFavoriteTab='teams';getFavorite();"><span class="glyphicon glyphicon-user" aria-hidden="true">Favorite Teams</a></li>
                <li role="presentation" ng-class="{'active':currentFavoriteTab=='players'}"><a href="#favorite#players" ng-click="currentFavoriteTab='players';getFavorite();"><span class="glyphicon glyphicon-star" aria-hidden="true">Favorite Players</a></li>
            </ul>
            <br/>
            <div class="tab-content">
                <div class="tab-pane cp-profile-pane" id="teams" ng-class="{'active':currentFavoriteTab=='teams'}">

                        <div class="panel panel-default" ng-repeat="team in favoriteteams">
                            <div class="panel-heading">
                                //team.fields.name//
                            </div>
                            <div class="panel-body row">
                                <div class="col-sm-3">
                                    <img style="width:100%;" ng-src="//team.fields.icon_url//"/>
                                </div>
                                <div class="col-sm-9">
                                    //team.fields.followers.length//
                                </div>
                            </div>

                        </div>
                </div>
                <div class="tab-pane cp-profile-pane" id="players" ng-class="{'active':currentFavoriteTab=='players'}">

                        <div class="panel panel-default" ng-repeat="player in favoriteplayers">
                            <div class="panel-heading">
                                //player.fields.name//
                            </div>
                            <div class="panel-body row">
                                <div class="col-sm-3">
                                    <img style="width:100%;" ng-src="//player.fields.icon_url//"/>
                                </div>
                                <div class="col-sm-9">
                                    //player.fields.followers.length//
                                </div>
                            </div>

                        </div>

                </div>
            </div>
        </div>
        <div class="" id="friends" ng-show="currentTab=='friends'">
            axxx
        </div>
    </div>
</div>
<script src="{{STATIC_URL}}competitors/js/directives/imgUpload.js"></script>
<script src="{{STATIC_URL}}competitors/js/controllers/profile.js"></script>
{% endblock %}
